<header>
  <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>
  <nav id="user-info">
    <%- if controller_name != 'sessions' %>
      <%= link_to "Log in", new_session_path(User) %><br/>
    <% end -%>

    <%- if controller_name != 'registrations' %>
      <%= link_to "Sign up", new_registration_path(User) %><br/>
    <% end -%>

    <%- if controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Forgot your password?", new_password_path(User) %><br/>
    <% end -%>

    <%#- if controller_name != 'confirmations' %>
    <!--      <%#= link_to "Didn't receive confirmation instructions?", new_confirmation_path(User) %><br/>-->
    <%# end -%>

    <%#- if controller_name != 'unlocks' %>
    <!--      <%#= link_to "Didn't receive unlock instructions?", new_unlock_path(User) %><br/>-->
    <%# end -%>

    <%- User.omniauth_providers.each do |provider| %>
      <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(User, provider) %>
      <br/>
    <% end -%>
  </nav>
</header>