<header>
  <nav>
    <div class="header_menu">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li class='has-sub'><%= link_to "User Menu", "#" %>
          <ul>
            <% if !user_signed_in? %>
              <%= no_user_menu %>
              <%- User.omniauth_providers.each do |provider| %>
                <li>
                  <%= link_to t('devise.shared.links.sign_in_with_provider', provider: OmniAuth::Utils.camelize(provider)), omniauth_authorize_path(User, provider) %>
                </li>
              <% end -%>
            <% else %>
              <%= user_menu %>
              <%- User.omniauth_providers.each do |provider| %>
                <li>
                  <%= link_to t('devise.shared.links.link_to_provider', provider: OmniAuth::Utils.camelize(provider)), omniauth_authorize_path(User, provider) %>
                </li>
              <% end -%>
            <% end %>
          </ul>
        </li>
        <li class='last'><%= link_to "Menu3", "#" %></li>
      </ul>
    </div>
  </nav>
  <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>
</header>