<!DOCTYPE html>
<html>
  <head>
    <title>Pumpkin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <nav id="user-info">
      <% if user_signed_in? %>
        <strong><%= link_to current_user.name, user_root_path %></strong>
        <%= link_to 'プロフィール変更', edit_user_registration_path %>
        [<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>]
      <% else %>
        <%= link_to 'サインアップ', new_user_registration_path %>
        <%= link_to 'ログイン', new_user_session_path %>
        <%= link_to 'Sign in with Facebook', user_facebook_omniauth_authorize_path %>
      <% end %>
    </nav>
  </header>
    <%= yield %>
  </body>
</html>
